<h1>Datos Personales</h1>
<ul>
    <li>Nombre: {{datos.nombre}}</li>
    <li>Apellido: {{datos.apellido}}</li>
    <li>Edad: {{datos.edad}}</li>
    <li>Mail: {{datos.mail}}</li>
    <li>Telefono: {{datos.telefono}}</li>
</ul>
